name: Webhook trigger for code repository
# This action will send a payload to the icub-tech-iit/docker-deployment-images github repository in order to build the correct
# tagged image for superbuild

on:
  release:
      types: [published]

jobs:
    job_id:
        runs-on: [ubuntu-latest]
        steps:
        - name: Get the version
          id: get_version
          run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT

        - name: Get Token
          id: get_workflow_token
          uses: tibdex/github-app-token@v2
          with:
            private_key: ${{ secrets.ICUB_TECH_IIT_APP_KEY }}
            app_id: ${{ secrets.ICUB_TECH_IIT_APP_ID }}
            installation_retrieval_mode: repository
            installation_retrieval_payload: icub-tech-iit/code

        - name: Repository Dispatch
          uses: peter-evans/repository-dispatch@v2
          env:
            GITHUB_APPS_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
          with:
            token: ${{ env.GITHUB_APPS_TOKEN }}
            repository: icub-tech-iit/docker-deployment-images
            event-type: release_trigger
            client-payload: '{"version": "${{ steps.get_version.outputs.VERSION }}"}'
