name: C++ CI Workflow

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
  # * is a special character in YAML so you have to quote this string
  # Execute a "nightly" build at 2 AM UTC 
  - cron:  '0 2 * * *'
  
  
jobs:
  build:
    name: '[${{ matrix.project_tags }}@${{ matrix.os }}@${{ matrix.build_type }}]'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build_type: [Debug, Release]
        project_tags: [Stable, Unstable]
        os: [ubuntu-latest, macOS-10.14]
        include:
          - os: ubuntu-latest
            build_type: Debug
            cmake_generator: "Ninja"
          - os: ubuntu-latest
            build_type: Release
            cmake_generator: "Unix Makefiles"
          - os: macOS-10.14
            build_type: Debug
            cmake_generator: "Unix Makefiles"
          - os: macOS-10.14
            build_type: Release
            cmake_generator: "Xcode"

    steps:
    - uses: actions/checkout@master
        
    # Print environment variables to simplify development and debugging
    - name: Environment Variables
      shell: bash
      run: env
        
    # ============
    # DEPENDENCIES
    # ============
    
    # Waiting a github action that installs dependencies in a
    # multiplatform setup (likely using TS or JS), we install
    # packages with os-specific steps.
    
    - name: Dependencies [Ubuntu]
      if: matrix.os == 'ubuntu-latest'
      run: |
        chmod +x ./.ci/install_debian.sh
        sudo ./.ci/install_debian.sh

    - name: Dependencies [MacOS]
      if: matrix.os == 'macOS-10.14'
      run: |
        cmake --version
        brew cask install xquartz
        # Core dependencies 
        brew install ace boost cmake eigen gsl ipopt jpeg libedit opencv@3 pkg-config qt5 sqlite swig tinyxml
        # ROBOTOLOGY_ENABLE_DYNAMICS dependencies 
        brew install libmatio
        # ROBOTOLOGY_USES_GAZEBO dependencies 
        brew install osrf/simulation/gazebo10
        # ROBOTOLOGY_USES_OCTAVE dependencies 
        brew install octave
        # CI-specific dependencies 
        brew install ninja
        cmake --version

    # ===================
    # CMAKE-BASED PROJECT
    # ===================
    
    - name: Configure
      # Use bash also on Windows (otherwise cd, mkdir, ... do not work)
      shell: bash
      run: |
        mkdir -p build
        cd build    
        # Note: HUMAN_DYNAMICS is temporary disabled as a workaround for https://github.com/robotology/wearables/issues/56
        cmake -G"${{ matrix.cmake_generator }}" -DROBOTOLOGY_USES_GAZEBO:BOOL=ON -DROBOTOLOGY_USES_OCTAVE:BOOL=ON -DROBOTOLOGY_USES_PYTHON:BOOL=ON  -DROBOTOLOGY_ENABLE_DYNAMICS:BOOL=ON -DROBOTOLOGY_ENABLE_HUMAN_DYNAMICS:BOOL=OFF -DROBOTOLOGY_ENABLE_ICUB_HEAD:BOOL=ON -DNON_INTERACTIVE_BUILD:BOOL=TRUE -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ..

    - name: Disable macOS unsupported options 
      if: matrix.os == 'macOS-10.14'
      run: | 
        cd build
        # Disable ROBOTOLOGY_USES_PYTHON in macOS 
        cmake -DROBOTOLOGY_USES_PYTHON:BOOL=OFF .

    - name: Build
      shell: bash
      run: |
        cd build
        cmake --build . --config ${{ matrix.build_type }}
