name: Generate conda packages
# This action automatically generate conda packages for the packages in the robotology-superbuild
# Check doc/conda-recipe-generation.md for more info

on:
  workflow_dispatch:
    inputs:
      upload_conda_binaries:
        description: 'If true, upload conda binaries, for any other value only generate them without uploading.'     
        required: true
        default: 'true'
  schedule:
  # Run the job once a week
  - cron: '0 0 * * 2'

jobs:
    generate-conda-packages:
        name: "Generate conda packages @${{ matrix.os }}"
        runs-on:  ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
              include:
                - os: ubuntu-latest
                  conda_platform: linux-64
                - os: macos-latest
                  conda_platform: osx-64
                - os: windows-2019
                  conda_platform: win-64

        steps:
        - uses: actions/checkout@v2

        - uses: conda-incubator/setup-miniconda@v2
          with:
            mamba-version: "*"
            channels: conda-forge
            channel-priority: true
            python-version: "3.8"

        - name: Install files to enable compilation of mex files [Conda/Linux]
          if: contains(matrix.os, 'ubuntu')
          run: |
            curl -L -O https://github.com/robotology/robotology-vcpkg-ports/releases/download/storage/msdk_R2020b_mexa64.zip
            unzip msdk_R2020b_mexa64.zip
            rm msdk_R2020b_mexa64.zip
            echo "GHA_Matlab_ROOT_DIR=${GITHUB_WORKSPACE}/msdk_R2020b_mexa64" >> $GITHUB_ENV
            echo "GHA_Matlab_MEX_EXTENSION=mexa64" >> $GITHUB_ENV

        - name: Install files to enable compilation of mex files [Conda/macOS]
          if: contains(matrix.os, 'macos')
          run: |
            curl -L -O https://github.com/robotology/robotology-vcpkg-ports/releases/download/storage/msdk_R2020a_mexmaci64.zip
            unzip msdk_R2020a_mexmaci64.zip
            rm msdk_R2020a_mexmaci64.zip
            echo "GHA_Matlab_ROOT_DIR=${GITHUB_WORKSPACE}/msdk_R2020a_mexmaci64" >> $GITHUB_ENV
            echo "GHA_Matlab_MEX_EXTENSION=mexmaci64" >> $GITHUB_ENV

        - name: Install files to enable compilation of mex files [Conda/Windows]
          if: contains(matrix.os, 'windows')
          shell: bash
          run: |
            curl -L -O https://github.com/robotology/robotology-vcpkg-ports/releases/download/storage/msdk_R2020a_mexw64.zip
            unzip msdk_R2020a_mexw64.zip
            rm msdk_R2020a_mexw64.zip
            echo "GHA_Matlab_ROOT_DIR=${GITHUB_WORKSPACE}/msdk_R2020a_mexw64" >> $GITHUB_ENV
            echo "GHA_Matlab_MEX_EXTENSION=mexw64" >> $GITHUB_ENV

        # Python 3.8 is required by https://github.com/Anaconda-Platform/anaconda-client/pull/551
        - name: Dependencies for conda recipes generation and upload
          shell: bash -l {0}
          run: |
            mamba install pyyaml jinja2 conda-build ninja anaconda-client conda-forge-pinning boa=0.5.0 mamba=0.14.1
            # Use multisheller version that include the fix https://github.com/mamba-org/multisheller/pull/13
            python -m pip install git+https://github.com/mamba-org/multisheller.git@31883c2fe325464a8d3510380afdc83e8f64c349

        - name: Generate recipes [Linux&macOS]
          if: contains(matrix.os, 'macos') || contains(matrix.os, 'ubuntu')
          shell: bash -l {0}
          run: |
            mkdir build
            cd build
            cmake -GNinja -C ${GITHUB_WORKSPACE}/.ci/initial-cache.gh.cmake -DYCM_EP_ADDITIONAL_CMAKE_ARGS:STRING="-DMatlab_ROOT_DIR:PATH=${GHA_Matlab_ROOT_DIR} -DMatlab_MEX_EXTENSION:STRING=${GHA_Matlab_MEX_EXTENSION}" -DROBOTOLOGY_USES_MATLAB:BOOL=ON -DROBOTOLOGY_PROJECT_TAGS=LatestRelease -DROBOTOLOGY_GENERATE_CONDA_RECIPES:BOOL=ON ..

        - name: Generate recipes [Windows]
          if: contains(matrix.os, 'windows')
          shell: bash -l {0}
          run: |
            mkdir build
            cd build
            cmake -G"Visual Studio 16 2019" -C ${GITHUB_WORKSPACE}/.ci/initial-cache.gh.cmake -DYCM_EP_ADDITIONAL_CMAKE_ARGS:STRING="-DMatlab_ROOT_DIR:PATH=${GHA_Matlab_ROOT_DIR} -DMatlab_MEX_EXTENSION:STRING=${GHA_Matlab_MEX_EXTENSION}" -DROBOTOLOGY_USES_MATLAB:BOOL=ON -DROBOTOLOGY_PROJECT_TAGS=LatestRelease -DROBOTOLOGY_GENERATE_CONDA_RECIPES:BOOL=ON ..

        - name: Build conda packages
          shell: bash -l {0}
          run: |
            conda config --remove channels defaults
            cd build/conda/generated_recipes
             # Debug generated recipes
            cat */meta.yaml
            # We use the conda_build_config from conda-forge-pinning, and our local one
            # See https://docs.conda.io/projects/conda-build/en/latest/resources/variants.html#creating-conda-build-variant-config-files
            # We manually specify the build order as conda build is too slow, and conda mambabuild does not support correctly multiple recipes
            # see https://github.com/mamba-org/boa/issues/117
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml blockfactory
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml yarp
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml matio-cpp
            # Workaround for https://github.com/robotology/robotology-superbuild/issues/822
            conda build -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml yarp-telemetry
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml icub-contrib-common
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml icub-firmware-shared
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml robots-configuration
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml icub-main
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml idyntree
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml lie-group-controllers
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml qpoases
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml yarp-matlab-bindings
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml wb-toolbox
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml unicycle-footstep-planner
            # blf is currently disabled, see https://github.com/robotology/robotology-superbuild/issues/806
            # When re-enabled, remember to use conda build and not conda mambabuild for https://github.com/robotology/robotology-superbuild/pull/800#issuecomment-866679447
            # conda build -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml bipedal-locomotion-framework
            rm -rf bipedal-locomotion-framework
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml wearables
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml icub-models
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml blocktest
            conda mambabuild -m ${CONDA_PREFIX}/conda_build_config.yaml -m ${GITHUB_WORKSPACE}/conda/conda_build_config.yml --skip-existing . 

        - name: Upload conda packages
          shell: bash -l {0}
          # Upload by default on schedule events, and on workflow dispatch only if input upload_conda_binaries is 'true'
          if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.upload_conda_binaries == 'true')
          env:
            ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
          run: |
            cd ${CONDA_PREFIX}/conda-bld/${{ matrix.conda_platform}}/
            ls *.tar.bz2
            anaconda upload --skip-existing *.tar.bz2

    # If the  generate-conda-packages completed correctly and binaries are uploaded,
    # bump automatically the CONDA_BUILD_NUMBER in conda/cmake/CondaGenerationOptions.cmake
    # for future builds
    bump-conda-build-number:
        name: "Bump Conda Build number for future builds"
        runs-on: ubuntu-latest
        needs: generate-conda-packages
        if: github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.upload_conda_binaries == 'true')

        steps:
        - uses: actions/checkout@v2
        
        - name: Bump Conda Build number for future builds
          shell: bash
          run: |
            sh ./scripts/robotologyBumpCondaBuildNumber.sh 
      
        - uses: EndBug/add-and-commit@v7.0.0
          with:
            default_author: github_actions
            message: 'Bump CONDA_BUILD_NUMBER after successful Conda packages build and upload'
